*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
debug
wandb
data
evaluate_3d_reconstruction_lib
gaussian_rasterizer
simple-knn-Gaussian-SLAM